<div class="container dashboard">
  <header class="header text-center">Welcome, {{users}}.</header>
  <div class="col-1"></div>
  <div class="col-sm dropdown-map mb-3">
  </div>

  <div class="col-7 list-col mx-auto">
    <h2 class="text-center m-3">Posts</h2>
    {{#each ride as |rides|}}
    <div class="card">
      <div class="card-header text-center">
      </div>
      <div class="card-body text-center">
        <p class="ride-info">Title:{{rides.num_seats}}</p>
        <div class="form-floating">
          <textarea readonly='true' class="form-control" placeholder="No Description" id="floatingTextarea2"
            style="height: 100px">{{rides.description}}</textarea>
          <label for="floatingTextarea2">Content:</label>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="js/dashboard.js"></script>

<script>
  function initMap() {
    const directionsService = new google.maps.DirectionsService();
    const directionsRenderer = new google.maps.DirectionsRenderer();
    var mapOptions = {
      center: new google.maps.LatLng(30.285, -97.733),
      zoom: 15
    };

    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    directionsRenderer.setMap(map);

    const onChangeHandler = function () {
      if (event.cancelable) event.preventDefault();
      calculateAndDisplayRoute(directionsService, directionsRenderer);
    };
    document.getElementById("start").addEventListener("change", onChangeHandler);
    document.getElementById("end").addEventListener("change", onChangeHandler);
  }

  function calculateAndDisplayRoute(directionsService, directionsRenderer) {
    if (event.cancelable) event.preventDefault();
    directionsService
      .route({
        origin: {
          query: document.getElementById("start").value,
        },
        destination: {
          query: document.getElementById("end").value,
        },
        travelMode: google.maps.TravelMode.DRIVING,
      })
      .then((response) => {
        directionsRenderer.setDirections(response);
      })
      .catch((e) => window.alert("Directions request failed due to " + status));
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6YUeF9azIgULQN0QlDqqyq7RjRkg20qY&callback=initMap&libraries=&v=weekly"
  async></script>

<footer class="footer">
  <div class="content text-center">
 
  </div>
</footer>